<section>
    <div class="user">
        <h1>Check Your Expenses</h1>
        <p>
            In this section you can check and create new expenses in your list with their respective groups.
        </p>
    </div>
    <%= render partial: "form" %>
    <!-- component -->
    
    <% @spendings.each do |spending|%>
    <!-- 1 card -->
    <div class="card">
        <div>
            <h2><%= spending.name%></h2>
            <h3>Amount:</h3>
            <h3><%= spending.amount%></h3>
            <h3>Creation date:</h3>
            <h3><%= spending.created_at%></h3>
            <h2>Group:</h2>
            <h3><%= spending.group.name%></h3>
            <%= link_to "Delete", spending, method: :delete, :class => "text-white " %>
        </div>
    </div>
    <% end %>
</section>