<section>
    <div class="user">
        <h1>Check Your Groups</h1>
        <p>In this section you can create new groups.</p>
    </div>
    <%= render partial: "form" %>
    <!-- component -->
    <% current_user.groups.with_group.each do |group|%>
    <!-- 1 card -->
    <div class="group">
        <div>
            <% if group.icon.attached? %>
            <%= image_tag group.icon, style: 'height:120px;width:120px;border-radius:50%;' %>
            <div class="buttonstyle">
                <%= link_to "Update icon", edit_group_path(group), :class => "text-white" %>
            </div>
            <% else %>
            <div class="buttonstyle">
                <%= link_to "Update icon", edit_group_path(group), :class => "text-white" %>
            </div>
            <% end %>
        </div>
        <div>
            <h2><%= link_to group.name, group_path(group) %></h2>
            <h3>Creation date:</h3>
            <h3><%= group.created_at%></h3>
            <%= link_to "Delete", group, method: :delete, :class => "text-white " %>
        </div>
    </div>
    <% end %>
</section>