<section class="bg-softgray py-5">
    <div class="user">
        <% if @group.icon.attached? %>
            <%= image_tag @group.icon, style: 'height:150px;width:150px;border-radius:50%;' %>
        <% end %>       
        <h1>Check <%= @group.name %> Group</h1>
        <p>In this section you can check a single group with his transactions.</p>
    </div>
    <!-- component -->
    <% @group.spendings.each do |transaction|%>
    <!-- 1 card -->
    <div class="group">
        <h3><%= transaction.name %></h3>
        <h3><%= transaction.amount %></h3>
    </div>
    <% end %>
    <div class="group">
        <h2>The total amount is:</h2>
        <h3><%= grouptotal(@group) %></h3>
    </div>
</section>