<section>


  <div class="box">
    <div class="title">
      <h1>Smart Spending</h1>
      <p>
        Smart Spending is a platform designed to<br> manageand control all of your monthly<br>
        expenses. <br><br>Create your account and start saving for the future!
      </p>
    </div>
    <%= image_tag "spendsmart.png", style: 'height:30%;width:30%;border-radius:100%;' %>
  </div>

  <% if session[:user_id] != nil %>
  <div class="user">


    <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, style: 'height:300px;width:400px;border-radius:10%;' %>
    <div class="buttonstyle">
      <%= link_to "Update avatar", edit_user_path(current_user), :class => "text-white" %>
    </div>

    <% else %>
    <div class="buttonstyle">
      <%= link_to "Upload avatar", edit_user_path(current_user), :class => "text-white" %>
    </div>
    <% end %>

    <p><%= current_user.name %></p>
    <p><%= current_user.email %></p>
    <p>You have <%= current_user.spendings.count %> transactions</p>
    <p>You have <%= current_user.groups.count - 1%> groups</p>


    <h3>Total Expenses</h3>
    <p><%= total_expenses(current_user) %></p>


  </div>
  <% end %>

</section>