<section>
  <%= form_for @user do |form| %>
  <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="user">
    <p class="text-xl font-semibold mb-10 text-center">Sign Up</p>
    <div><%= form.label :avatar, :class => "block text-sm text-xl font-semibold text-center" %></div>
    <div>
      <%= form.file_field :avatar, :class => "w-full py-1 bg-softgray rounded-lg placeholder-midgray text-midgray text-center", :placeholder => "avatar" %>
    </div>
    <div><%= form.label :name, :class => "block text-sm text-xl font-semibold text-center" %></div>
    <div>
      <%= form.text_field :name, :class => "w-full py-1 bg-softgray rounded-lg placeholder-midgray text-midgray text-center", :placeholder => "Name" %>
    </div>
    <div><%= form.label :email, :class => "block text-sm text-xl font-semibold text-center" %></div>
    <div>
      <%= form.text_field :email, :class => "w-full py-1 bg-softgray rounded-lg placeholder-midgray text-midgray text-center", :placeholder => "Email" %>
    </div>
    <div><%= form.label :password, :class => "block text-sm text-xl font-semibold text-center" %></div>
    <div>
      <%= form.password_field :password, :class => "w-full py-1 bg-softgray rounded-lg placeholder-midgray text-midgray text-center", :placeholder => "Password" %>
    </div>
    <div><%= form.label :password_confirmation, :class => "block text-sm text-xl font-semibold text-center" %></div>
    <div>
      <%= form.password_field :password_confirmation, :class => "w-full py-1 bg-softgray rounded-lg placeholder-midgray text-midgray text-center", :placeholder => "Confirm Password" %>
    </div>
    <div><%= form.submit 'Register', :class => 'text-white bg-softgreen hover:bg-green rounded-lg py-1 px-3' %></div>
    <% end %>
  </div>
</section>